.card {
  background: var(--background-primary);
  box-shadow: none !important;
  border: 3px solid var(--border-light) !important;
  border-radius: 10px !important;
}

.secondary-button {
  background-color: var(--button-secondary) !important;
  color: var(--button-text-secondary) !important;
  border: 1px solid var(--border-medium) !important;

  box-shadow: none;
}

.secondary-button:hover {
  background-color: var(--background-hover) !important;
  border: 1px solid var(--border-medium) !important;
  box-shadow: none !important;
}

.form-check-input {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #fff;
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
  margin: 0 !important;
}
