@import "./variables.css";

.table {
  background-color: var(--background-secondary);
  color: var(--text-primary) !important;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  color: var(--text-primary) !important;
  border-block-color: var(--border-light) !important;
}

.top-req thead,
tbody,
tfoot,
tr,
td,
th {
  color: var(--text-primary) !important;
  border-block-color: var(--border-light) !important;
}
