:root {
  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --black: #000000ff;
  --white: #ffffffff;
  --silver: #bcbec0ff;
  --buff: #e2a273ff;
  --antiflash-white: #f4f5f7ff;
  --platinum: #dadadcff;
  --davys-gray: #4b4c5aff;
  --gray: #7c7376ff;
  --vista-blue: #799ff6ff;
  --antiflash-white-2: #f0f2f6ff;
  --white-2: #fefefdff;

  /* Background colors */
  --background-primary: #ffffff; /* Main content */

  --background-secondary: #f8f9fa;
  /* --background-tertiary: #e0e0e0; Navbar */
  --background-tertiary: var(--antiflash-white-2);

  --background-hover: #f0f0f0;

  /* Text colors */
  --text-primary: #353535; /* Main text */
  --text-secondary: #6c757d; /* Secondary text */
  --text-muted: #a0a0a0;
  --text-accent: #0d6efd;
  --text-light: #fff;

  /* Border colors */
  --border-light: #f5f5f8ff;
  --border-medium: #ced4da;
  --border-dark: #343a40;

  /* Shadow colors */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  /* Button colors */
  --button-primary: #3b71ca;
  --button-hover: #0b5ed7;
  --button-text: #ffffff;
  --button-secondary: var(--white-2);
  --button-text-secondary: var(--raisin-black);

  /* Status colors */
  --status-success: #198754;
  --status-error: #dc3545;
  --status-warning: #ffc107;
  --status-info: #0dcaf0;

  /* Form colors */
  --form-background: #ffffff;
  --form-border: #ced4da;
  --form-focus: #0d6efd;

  /* Border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --accent-primary: #3b71ca; /* A vibrant blue for primary accents */
  --accent-secondary: #6c757d; /* A subdued gray for secondary accents */
  --accent-success: #28a745; /* A fresh green for success indicators */
  --accent-danger: #dc3545; /* A bold red for error messages */
  --accent-warning: #ffc107; /* A warm yellow for warnings */
  --accent-info: #17a2b8; /* A cool teal for informational highlights */
  --accent-hover: #0056b3; /* A darker blue for hover effects */
}

[data-theme="dark"] {
  /* CSS HEX */
  --raisin-black: #23262eff;
  --eerie-black: #16171cff;
  --raisin-black-2: #23262cff;
  --charcoal: #3e4355ff;
  --gunmetal: #282c34ff;

  /* Background colors */
  /* --background-primary: #121212;
  --background-secondary: #1e1e1e; */
  /* --background-tertiary: #2d2d2d; */
  --background-hover: #2d2d2d;

  --background-primary: var(--raisin-black);
  --background-secondary: var(--gunmetal);
  --background-tertiary: var(--eerie-black);
  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --text-muted: #a0a0a0;
  --text-accent: #4d94ff;
  --text-light: #fff;
  /* Border colors */
  --border-light: var(--gunmetal);
  --border-medium: #505050;
  --border-dark: #606060;

  /* Shadow colors */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.4);

  /* Button colors */
  --button-primary: #3b71ca;
  --button-hover: #3d84ff;
  --button-text: #ffffff;
  --button-secondary: #292c34ff;
  --button-text-secondary: var(--white);

  /* Status colors */
  --status-success: #00c853;
  --status-error: #ff1744;
  --status-warning: #ffd600;
  --status-info: #00b0ff;

  /* Form colors */
  --form-background: #2d2d2d;
  --form-border: #404040;
  --form-focus: #4d94ff;

  /* Border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --accent-primary: #3b71ca; /* A soft blue for primary accents */
  --accent-secondary: #adb5bd; /* A light gray for secondary accents */
  --accent-success: #00c853; /* A bright green for success indicators */
  --accent-danger: #ff4c4c; /* A vibrant red for error messages */
  --accent-warning: #ffca28; /* A golden yellow for warnings */
  --accent-info: #40c4ff; /* A neon blue for informational highlights */
  --accent-hover: #1c73e8; /* A stronger blue for hover effects */
}

.table {
  color: var(--text-primary) !important;
  font-weight: 500 !important;
}
